# exclude IDE settings
.vscode

# exclude environment variables
environments.js
.env

# exclude certificate files
*.pem

# exclude node libraries
node_modules

# exclude package-lock
package-lock.json

# exclude nyc output
.nyc_output
